*,
*::after,
*::before {
    box-sizing: border-box;
}

.demographic-main-container {
  padding: 1em;
}

.demographic-container {
 display: grid;
 gap: 2rem;
  
}

.left-demo-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 80rem;
}

.shape-container{

  border-radius:1em ;
  background-color: white;
}