*,
*::after,
*::before {
    box-sizing: border-box;
}

.demographic-main-container {
  padding: 1em;
}

.demographic-container {
 display: grid;
 gap: 2rem;
  
}

.left-demo-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}



@media (max-width: 1000px) {
  .demographic-container {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}
