.root-layout {
  --width-side-bar:250px;
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width:var(--width-side-bar);
    height: 100vh;
    overflow-y: scroll;
    background-color: #070000;
  }
  
  .main-content {
    margin-left: var(--width-side-bar);
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
  }
  .ps-sidebar-root{
    background-color: #070000;
  }


