/* Root Layout */
.root-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #d9d9d9;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar Styling */
.side-bar {
  height: 100vh;
  overflow-y: auto; /* Enable scrolling */
  background-color: #070000;
}

/* Main Content Area */
.main-content {
  height: 100vh;
  overflow-y: auto; /* Enable scrolling */
  background-color: #d9d9d9;
  grid-column: 2;
  grid-row: 1;
  transition: margin-left 0.3s ease-in-out; /* Smooth transition for margin adjustments */
}

/* Scrollbar Styling */
.side-bar::-webkit-scrollbar,
.main-content::-webkit-scrollbar {
  width: 8px;
}

.side-bar::-webkit-scrollbar-thumb,
.main-content::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
}

.side-bar::-webkit-scrollbar-thumb:hover,
.main-content::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.side-bar::-webkit-scrollbar-track,
.main-content::-webkit-scrollbar-track {
  background-color: #2a2a2a;
  border-radius: 8px;
}
